{% extends 'base_front.html.twig' %}


{% block title %}expert index{% endblock %}
{% block body %}
    <h1>Expert index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Zone</th>
                <th>Dispo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expert in experts %}
            <tr>
                <td>{{ expert.id }}</td>
                <td>{{ expert.nom }}</td>
                <td>{{ expert.prenom }}</td>
                <td>{{ expert.tel }}</td>
                <td>{{ expert.email }}</td>
                <td>{{ expert.zone }}</td>
                <td>{{ expert.dispo.value }}</td>
                <td>
    <a href="{{ path('app_expert_show', {'id': expert.id}) }}" class="button">Show</a>
    <a href="{{ path('app_expert_edit', {'id': expert.id}) }}" class="button">Edit</a>
</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  <center>  <a href="{{ path('app_expert_new') }}"class="button">Create new</a> </center>
{% endblock %}
