{% extends 'base.html.twig' %}

{% block title %}Expert index{% endblock %}

{% block body %}
    <h1>Expert index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Zone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expert in experts %}
            <tr>
                <td>{{ expert.id }}</td>
                <td>{{ expert.nom }}</td>
                <td>{{ expert.prenom }}</td>
                <td>{{ expert.tel }}</td>
                <td>{{ expert.email }}</td>
                <td>{{ expert.zone }}</td>
                <td>
                    <a href="{{ path('app_expert_show', {'id': expert.id}) }}">show</a>
                    <a href="{{ path('app_expert_edit', {'id': expert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_expert_new') }}">Create new</a>
{% endblock %}
