{% extends 'base.html.twig' %}

{% block title %}Maintenance{% endblock %}

{% block body %}
    <h1>Maintenance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ maintenance.id }}</td>
            </tr>
            <tr>
                <th>DateEntretien</th>
                <td>{{ maintenance.dateEntretien ? maintenance.dateEntretien|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Cout</th>
                <td>{{ maintenance.cout }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ maintenance.temperature }}</td>
            </tr>
            <tr>
                <th>Humidite</th>
                <td>{{ maintenance.humidite }}</td>
            </tr>
            <tr>
                <th>ConsoCarburant</th>
                <td>{{ maintenance.consoCarburant }}</td>
            </tr>
            <tr>
                <th>ConsoEnergie</th>
                <td>{{ maintenance.consoEnergie }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ maintenance.Status.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_maintenance_index') }}">back to list</a>

    <a href="{{ path('app_maintenance_edit', {'id': maintenance.id}) }}">edit</a>

    {{ include('maintenance/_delete_form.html.twig') }}
{% endblock %}
