{% extends 'base_back_etude.html.twig' %}

{% block title %}Edit Veterinaire{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card shadow-sm bg-dark text-white">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">Edit Veterinaire</h2>
            </div>
            <div class="card-body">
                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="p-3 border rounded bg-dark text-white">
                                {{ form_row(form.nom, {'attr': {'class': 'form-control form-control-dark'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="p-3 border rounded bg-dark text-white">
                                {{ form_row(form.num_tel, {'attr': {'class': 'form-control form-control-dark'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="p-3 border rounded bg-dark text-white">
                                {{ form_row(form.email, {'attr': {'class': 'form-control form-control-dark'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="p-3 border rounded bg-dark text-white">
                                {{ form_row(form.adresse_cabine, {'attr': {'class': 'form-control form-control-dark'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <a href="{{ path('app_veterinaire2_index') }}" class="btn btn-outline-secondary">Back to List</a>
                        <button type="submit" class="btn btn-success">{{ button_label|default('Update') }}</button>
                    </div>
                {{ form_end(form) }}
                {{ include('backOfficeAnimal/veterinaire2/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
