{% extends 'base_back_etude.html.twig' %}


{% block title %}expert index{% endblock %}
{% block body %}
    <h1>Expert index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Zone</th>
                <th>Dispo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expert in experts %}
            <tr>
                <td>{{ expert.id }}</td>
                <td>{{ expert.nom }}</td>
                <td>{{ expert.prenom }}</td>
                <td>{{ expert.tel }}</td>
                <td>{{ expert.email }}</td>
                <td>{{ expert.zone }}</td>
                <td>{{ expert.dispo.value }}</td>
                <td>
   <a href="{{ path('app_expert_show', {'context': app.request.get('context'), 'id': expert.id}) }}" class="button">Show</a>
<a href="{{ path('app_expert_edit', {'context': app.request.get('context'), 'id': expert.id}) }}" class="button">Edit</a>
<a href="{{ path('app_expert_new', {'context': app.request.get('context')}) }}" class="button">Create new</a>

</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('app_expert_index', {'context': app.request.get('context')}) }}">back to list</a>
{% endblock %}
