{% extends 'base_front_etude.html.twig' %}

{% block title %}Culture{% endblock %}

{% block body %}
    <h1>Culture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ culture.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ culture.nom }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ culture.surface }}</td>
            </tr>
            <tr>
                <th>Date_plantation</th>
                <td>{{ culture.datePlantation ? culture.datePlantation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_recolte</th>
                <td>{{ culture.dateRecolte ? culture.dateRecolte|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ culture.region }}</td>
            </tr>
            <tr>
                <th>Type_culture</th>
                <td>{{ culture.typeCulture }}</td>
            </tr>
            <tr>
                <th>Densite_plantation</th>
                <td>{{ culture.densitePlantation }}</td>
            </tr>
            <tr>
                <th>Besoins_eau</th>
                <td>{{ culture.besoinsEau }}</td>
            </tr>
            <tr>
                <th>Besoins_engrais</th>
                <td>{{ culture.besoinsEngrais.value }}</td>
            </tr>
            <tr>
                <th>Rendement_moyen</th>
                <td>{{ culture.rendementMoyen }}</td>
            </tr>
            <tr>
                <th>Cout_moyen</th>
                <td>{{ culture.coutMoyen }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Button to trigger the rendement prediction -->
    <center>
        <button id="predictRendement" class="button" data-culture-id="{{ culture.id }}">Predire le Rendement</button>
    </center>

    <!-- Container for the predicted rendement -->
    <center>
        <div id="predictedRendement"></div>
    </center>

    <center>
        <a href="{{ path('app_culture_index', {'context': app.request.get('context')}) }}" class="button">Back to list</a>
    </center>

    <center>   
        <a href="{{ path('app_culture_edit', {'context': app.request.get('context'), 'id': culture.id}) }}" class="button">Edit</a>
    </center>

    <center>  
        {{ include('frontOfficeEtude/culture/_delete_form.html.twig') }}
    </center>

  <script>
    document.getElementById('predictRendement').addEventListener('click', function() {
        // Retrieve the culture.id from the button's data attribute
        var cultureId = this.getAttribute('data-culture-id');
        
        // Perform an AJAX request to call the prediction endpoint
        fetch('{{ path('predict_rendement', {'context': 'front'}) }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ cultureId: cultureId })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>


{% endblock %}
